@page "/casas/edit/{CasaId:int}"
@using TerrazasManager.Db
@using TerrazasManager.Db.Models
@inject NavigationManager NavManager
<h3>CasasAdd</h3>

<EditForm Model="@CasaEditar" OnValidSubmit="Submit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div>
        <label for="NumeroCasa">Numero de Casa:</label>
        <InputText id="NumeroCasa" @bind-Value="@CasaEditar.NumeroCasa"></InputText>
    </div>

    <div>
        <label for="EsResidencia">Es Residencia:</label>
        <InputCheckbox id="EsResidencia" @bind-Value="@CasaEditar.EsResidencia"></InputCheckbox>
    </div>

    <div>
        <label for="PersonasFamilia">Numero de Personas en la Familia:</label>
        <InputNumber id="PersonasFamilia" @bind-Value="@CasaEditar.PersonasFamilia"></InputNumber>
    </div>

    <div>
        <label for="JefeFamilia">Jefe de Familia:</label>
        <InputText id="JefeFamilia" @bind-Value="@CasaEditar.JefeFamilia"></InputText>
    </div>

    <button type="submit">Editar</button>
</EditForm>


@code {
    [Inject]
    private LocalDbService _dbService { get; set; }
    Casa CasaEditar = new();

    [Parameter]
    public int CasaId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CasaEditar = await _dbService.GetCasaById(CasaId);
    }

    private async void Submit()
    {
        await _dbService.UpdateCasa(CasaEditar);
        NavManager.NavigateTo("/casas");
    }
}
